statemachine/news_processing.asl.json
{
  "Comment": "SUO-AWS News Processing Workflow",
  "StartAt": "ScrapeAwsBlog",
  "States": {
    "ScrapeAwsBlog": {
      "Type": "Task",
      "Resource": "${ScraperFunction}",
      "ResultPath": "$.scrapeResult",
      "Next": "ProcessPosts"
    },
    "ProcessPosts": {
      "Type": "Map",
      "ItemsPath": "$.scrapeResult.body.posts",
      "ResultPath": "$.processedPosts",
      "Parameters": {
        "post_id.$": "$.id"
      },
      "Iterator": {
        "StartAt": "CategorizeAndSummarize",
        "States": {
          "CategorizeAndSummarize": {
            "Type": "Task",
            "Resource": "${CategorizerFunction}",
            "ResultPath": "$.categorizeResult",
            "Next": "SendNotifications"
          },
          "SendNotifications": {
            "Type": "Task",
            "Resource": "${NotifierFunction}",
            "ResultPath": "$.notifyResult",
            "End": true
          }
        }
      },
      "End": true
    }
  }
}